@font-face{
	font-family: archi;
	src: url(../fonts/ArchitectsDaughter-Regular.ttf);
	}
@font-face{
	font-family: frede;
	src: url(../fonts/FrederickatheGreat-Regular.ttf);
	}
@font-face{
	font-family: bold;
	src: url(../fonts/Goldman-Bold.ttf);
	}
@font-face{
	font-family: Regular;
	src: url(../fonts/Goldman-Regular.ttf);
	}
@font-face{
	font-family: parisine;
	src: url(../fonts/Parisienne-Regular.ttf);
	}

body{
	background-image: url(../images/Le_petit_prince.png);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 100% 0%;
	margin-right:300px;
	background-size:30%;
	font-family:parisine;
}
h1{
	text-decoration: underline;
	text-decoration-style:double;
	color: Crimson;
	font-family:frede;
	font-size:3em;
	letter-spacing:5px;
}
p{
	background-color:Crimson;
	background-size: 30px;
	font-family:Regular;
	font-size:2em;
	padding:0px;
	padding-top:5px;
	padding-bottom:5px;
	text-transform: capitalize;
}
p::first-letter{
  font-size: 2.5em;
}
p span{
	color: #fff
}
.lista1 > li,.lista2 > li,.lista3 > li{
	border-style:dotted;
	border-color:Crimson;
	border-width:1px;
}
.lista1{
	list-style-position:inside;
	list-style-type: circle;
}
.lista1 li:nth-child(2n){
	font-family:Regular;
}
.lista1 li:nth-child(2n+1){
	font-family:bold;
}
.lista2{
	list-style-position:outside;
	list-style-type: square;
}
.lista2 li:first-child{
	font-family:archi;
}
.lista3{
	list-style-position:inside;
	list-style-image: url('../images/sqpurple.png')
}
.lista3 li:last-child{
	font-family:parisine;
}
.lista4{
	background-color:lightsalmon;
	border: dashed 2px darkred;
	list-style-type:none;
	padding: 5px 20px;
}
.lista4 li{
	background-color:darkred;
	color:lightsalmon;
	margin-top:5px;
	padding-left:5px
}
.lista4 li:before{
	content: '#';
	width:1em;
	margin-left: -1em;
	color:darkred;
	display:inline-block;
}
.lista5{
	background-color:lightsalmon;
	list-style-type:none;
	color:darkred;
	border-left-color:darkred;
	border-left-style:solid;
	border-left-width:5px;
	padding:5px;
}
.lista6{
	list-style:none;
	color:darkred;
	margin:0px;
	padding:0px;

}
.lista6 li{
	border-width:1px 1px 0px 1px;
	border-style:dotted;
	border-color:darkred;
}
.lista6 li:last-child{
	border-bottom-width:1px;
}



