
 table { 
			width: 75%;
            border-collapse: separate; 
			border-spacing:10px 30px;
			margin:auto;
        }
h1{
	text-align:center;
}		
th,td { 
            border: 1px solid black; 
            padding: 20px;
			width: 16%;
			vertical-align:middle;
			}
tbody tr:nth-child(2n+1){
	font-family:Regular;
	background-color:cyan;
}
tbody tr:nth-child(2n){
	font-family:bold;
	background-color:lightblue;
}
tbody th:hover,tbody td:hover{
	background-color:#A64B00
}
img{
  width: 80px;
  height: 80px;
}
